main {
  padding: 10px;
  margin: 5px;
}

ul li {
  font-size: 14px;
  margin: 10px;
}

li::marker {
  font-size: 20px; /* Ajusta el tamaño de la viñeta */
  color: rgb(52 91 148);      /* Cambia el color de la viñeta si lo deseas */
}

#btn-back {
  display: flex;
  justify-content: end;
}

#btn-back i {
  padding: 10px;
  font-size: 12px;
  cursor: pointer;
  background: #e4f0ff;
  border-radius: 10px;

}

#title {
  display: flex;
  justify-content: start;
  align-items: self-end;
  margin-left: 50px;
}

#title img{
  width:25px;
  height:25px;
  padding: 5px;
}

@media (max-width: 768px) {
  ul li{
    font-size: 12px;
  }

  #btn-back i {
    font-size: 10px;
  }

}
