
.ul-skills{
  background: #f7f7f7;
  height: 45px;
  display: flex;
  align-items: center;
  margin: 15px;
  border-radius: 5px;
  list-style: none;
}

.ul-skills:hover{
background-color: #f0f6ff;
cursor: pointer;
}
.ul-skills li i{
 font-size: 18px;
 padding: 5px;
}

@media (max-width: 768px) {

  .info-work{
    padding: 10px;
  }
  .ul-skills{
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: initial;
    padding: 0;

  }

  .ul-skills li {
    font-size: 12px;
    padding: 5px;
   }

}
