<div class="overlay">
    <div class="modal-container">
        <div id="div-header">
            <button (click)="closeModal()" class="button">
                <span class="X"></span>
                <span class="Y"></span>
                <div class="close">Close</div>
              </button>
        </div>
      <h2>{{appTitle}}</h2>
<p class="resume">
 {{resumeAboutMe}}   
</p>
   <div id="container-table">
      <table class="table">
        <thead>
        
        </thead>
        <tbody>
          <tr >   
          </tr>
        </tbody>
      </table>
    </div>
    </div>
  </div>
