@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@700&display=swap');


*,html{
    margin: 0;
    border: 0;
    font-family: 'Manjari', sans-serif;
}
body{
    background-image: url(/assets/bosque.jpg);
    background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Fija la imagen de fondo */
 
    /*background-size: calc(100%);*/

}

