@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*,html{
    margin: 0;
    border: 0;
   font-family: 'Manjari', sans-serif;
   /* font-family: 'Roboto', sans-serif;*/
   /*font-family: 'Lato', sans-serif;*/
  /* font-family: 'Montserrat', sans-serif;*/

}
body{
    background-image: url(/assets/bosque.jpg);
    background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Fija la imagen de fondo */
 
    /*background-size: calc(100%);*/

}

